* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #000035;
    --primary-color: #f1f1f1;
    --accent-color: #0000ff;
    --text-color: #000035;
    --button-hover: #eee;
    --button-active: #ddd;
    --button-accent-hover: #0000ba;
    --button-accent-active: #000090;
    --white: #ffffff;
    --shadow: rgba(3, 8, 20, 0.2) 0px 0.15rem 0.5rem;
}

body {
    font-family: "monserrat", sans-serif;
    overflow-x: hidden;
}
